<div class="main shops-show">
<div class="container">
<h1 class="shops-heading"><%= @shops.name %></h1>
<div class="shops">
アドレス：<%= @shops.address %><br>
アクセス:<%= @shops.access %><br>
電話番号:<%= @shops.phone_number %>
</div>
<h2>上位の口コミ</h2>
<% @posts.each do |post| %>
<%= post.user.name %> 
<%= post.content%><br>
<% end %> 
<h3><%= link_to("口コミ一覧",@path) %></h3>
<h4><%= link_to("口コミ追加",@path2) %></h4>
</div>
</div>