<div class="main shops-show">
<div class="container">
<main>
<h1 class="sec-title"><%= @shops.name %></h1>
<section id="shopinfo" class="wrapper">
<td><%= image_tag @shops.shop_photo,width: "400px", height: "300px" %></td>
<table>
<tr>
<td>住所：</td><td><%= @shops.address %></td>
</tr>
<tr>
<td>アクセス：</td><td><%= @shops.access %></td></tr>
<tr>
<td>電話番号：</td><td><%= @shops.phone_number %></td></tr>
<tr>
<td>店舗評価：</td><td><%= @average_shop_posts %></td></tr>
</table>
</section>
<section id="info" class="wrapper">
<h2 class="sec-title">みんなの口コミ</h2>
<% @posts.each do |post| %>
<table>
<tr>
<td style="text-align: center;">ユーザー:<%= post.user.name %></td>
<td style= "width:350px;"><%= post.content%></td>
</tr>

</table>
<div class=like >
<table>
<% if @post %>
   <%= link_to post_favorites_post_path(post.id), method: :delete do %>
    <td><input type="submit" value="❤️">
   <% end %>
<% else %>
<% if @users!= nil %>
  <%= form_tag(post_favorites_post_path(post.id)) do %>
    <input type="hidden" name="post_id" value="#{post.id}">
 <input type="submit" value="❤️"></td>
 <% end %>
<%= post.favorite_posts.count %>
    <% end %>
   <% end %>
 <% end %> 
 </div>
 </section>
 <p id="button">
<%= link_to @path do%><button>口コミ一覧</button>
    <% end %>
<%= link_to @path2 do %><button>口コミ追加</button>
   <% end %>
  </main>
 </div>
</div>

    