<div class="main user-show">
  <div class="container">
  <h1 class="users-heading">My page</h1>
    <div class="user">
      <h3><%= @user.name %></h3>
      <p>メールアドレス:<%= @user.email %></p>
      <% if @user.id == @current_user.id %>
      <%= link_to("編集","/users/#{@user.id}/edit") %>
    <div class="post">
    <h4>過去の投稿</h4>
    <% @post.each do |post| %>
      <button><%= link_to("編集","edit_shop_post_path") %></button>
    <%= post.shop.name %>
    <%= post.content %><br>
    <% end %>
    <%=  button_to'検討リスト',{controller: 'users',action: 'index'},{method: :get} %><br>
    
       </div> 
      <% end %>
    </div>
  </div>
</div>