<div class="main posts-new">
  <div class="container">
  <%= form_with url: new_comment_path do |f| %>
    <div class="form">
      <div class="form-body">
        <%= f.label :content, '口コミ' %>
        <%= f.text_field :content %>
        <%= f.label :rate, '店舗評価' %>
        <%= f.number_field :rate %>
        <%= f.label :is_recommendable, 'おすすめ' %>
        <%= f.check_box :is_recommendable %>
        <%= f.submit "送信" %>
      </div>
    </div>
   <% end %>
  </div>
</div>

