<div class="main posts-top">
  <div class="container">
<main>
<div class="wrapper">
<h1 class="sec-title">店舗を探す</h1>
  </div>
<section id="news" class="wrapper">
<h2 class="sec-title" >新着の口コミ</h2>
<table>
<tr>
<% @posts.each do |post| %>
<td>□<%= link_to(post.shop.name,"/shops/#{post.shop_id}") %></td>
<td><%= truncate(post.content, length: 15) %></td>
</tr>
<% end %> 
</table>
</section>
<section id="category" class="wrapper">
 <h3 class="sec-title">カテゴリから店舗を探す</h3>
<table>
<tr>
<td>
  <%= link_to("/shops/index/1") do%>
<button class="btn_02">飲食店　</button>
<% end %> 
 </td>
 <td>
  <%= link_to("/shops/index/2") do%>
<button class="btn_02">小売店　</button>
<% end %> 
 </td>
 </tr>
 <tr>
  <td>
  <%= link_to("/shops/index/3") do%>
<button class="btn_02">アパレル</button>
<% end %> 
 </td>
<td>
<%= link_to("/shops/index/4") do%>
<button class="btn_02">その他　</button>
<% end %> 
</td>
 </tr></table>
   </section>
   </main>
   </div>
   </div>
</html>