<div class="main posts-index">
<div class="container">
<h1 class="users-heading">店舗を探す</h1>
<h2>新着の口コミ</h2>
<ul>
<div class="post_shop_name">
  <% @shops.each do |shop| %>
    <li><%= link_to(shop.name ,"/shops/#{shop.id}")%></li>
 <% end %>
</ul>
      
 <h3>カテゴリから店舗を探す<br>
<%= link_to("飲食店","/shops/1/posts") %>
<%= link_to("小売店","/shops/2/posts") %>
<%= link_to("アパレル","/shops/3/posts") %>
<%= link_to("その他","/shops/4/posts") %>
</h3>

